.base {
}
.timeBoxRow {
  display: flex;
  align-items: center;
  column-gap: 15px;
  margin-bottom: 20px;
}
.timeBox {
  background-color: #656668cc;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 35px;
  padding: 10px;
}
.timeLabel {
  font-size: 30px;
}

@media (max-width: 780px) {
  .base {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
  .timeBoxRow {
    column-gap: 5px;
    margin: 0;
  }
  .timeBox {
    font-size: 20px;
  }
  .timeLabel {
    font-size: 14px;
  }
}
