@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600;700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --primary-color: #ab8e5c;
  --text-color: #232426;
  --primary-color-light: #efefef;
  --home-background: #272731;
  --gold-color: #ab8e5c;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  list-style-type: none;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.captalize {
  text-transform: capitalize;
}
