.base {
  min-height: 100vh;
  width: 100%;
  background-color: var(--home-background);
  color: #ab8e5c;
  display: flex;
  position: relative;
}
.left {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  padding: 30px;
}
.right {
  width: 40%;
  border-left: 0.1px solid #ab8e5c66;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 70px;
  z-index: 1;
  padding: 30px;
}
.rightTitle {
  font-size: 50px;
  margin-bottom: 35px;
}
.venue {
  margin-bottom: 50px;
}
.groomBrideBase {
  display: flex;
  align-items: center;
  column-gap: 30px;
}
.groomTitle {
  font-size: clamp(18px, 4vw, 50px);
}
.heartImageBase {
  position: relative;
  width: 90px;
  height: 90px;
}
.ambersand {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  font-weight: 700;
}
.buttonBase {
  margin-top: 50px;
  max-width: 250px;
  width: 50%;
}
@media (max-width: 780px) {
  .base {
    flex-direction: column;
  }
  .left {
    width: 100%;
    height: 65vh;
    padding: 20px;
  }
  .right {
    width: 100%;
    height: 35vh;
    align-items: center;
    padding: 20px;
    background-color: #ab8e5c21;
    border-radius: 20px 20px 0 0;
    border: 1px solid;
  }
  .groomBrideBase {
    flex-wrap: wrap;
    column-gap: 20px;
  }
  .heartImageBase {
    width: 50px;
    height: 50px;
  }
  .ambersand {
    font-size: 20px;
  }
  .venue {
    margin-bottom: 35px;
    font-size: 28px;
  }
  .buttonBase {
    margin-top: 35px;
  }

  .rightTitle {
    font-size: 20px;
    margin-bottom: 20px;
  }
}
