@import url("https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap");
/* @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600;700&display=swap'); */

.invitationBase {
  display: flex;
  flex-direction: column;
}
.parents {
  text-align: left;
  width: 450px;
  font-style: italic;
  font-size: 18px;
}
.inviteMsg {
  font-weight: 600;
  display: block;
  margin-top: 10px;
}
.brideGroomBase {
  background: #ab8e5c;
  padding: 15px;
  margin: 40px 0;
}
.brideGroom {
  font-family: "Dancing Script", cursive;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  color: #232426;
  font-size: clamp(18px, 8vw, 50px);
  font-weight: 700;
  border: 1px solid #232426;
  border-left: none;
  border-right: none;
  /* font-family: 'Dancing Script', cursive; */
}
.locationRowBase {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* align-items: center; */
  gap: 10px;
  margin-top: 40px;
}
.locationRow {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  text-align: center;
  gap: 10px;
  font-size: 18px;
  font-weight: 600;
}
.locationIcon {
  height: 25px;
  width: 25px;
}

@media (max-width: 780px) {
  .parents {
    font-size: 12px;
    font-style: italic;
    width: 100%;
  }.brideGroomBase{
    margin: 20px 0;
  }.brideGroom{
    font-size: clamp(12px, 6vw, 25px);
  }
  .locationRowBase {
    margin-top: 20px;
  }
  .locationRow{
    width: 100%;
    font-size: 12px;
  }
  .locationIcon {
    width: 18px;
    height: 18px;
  }
}
